<app-header backButton="/login" titel="Recuperar Contraseña"></app-header>

<br>
<ion-content>
    
    <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <app-custom-input icon="mail-outline" 
    autocomplete="emali" 
    [control]="form.controls.email" 
    type="email" 
    label="Correo"></app-custom-input>
    <br>
    <div class="validators ion-text-center" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">Es nesesario introducir un correo</div>
        <div *ngIf="form.controls.email.errors?.['email']">El correo no es valido</div>
    </div>

    <br>
    <ion-button expand="block" routerLink="agregar" mode="ios" fill="outline">
        Registro
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
    </ion-button>

</form>
</ion-content>
