.Duoc001{
	background-color: rgb(54, 75, 134);
}

.Legend{
	font-size: 13px;
}

.ion-color-duoc01 {
	--ion-color-base: var(--ion-color-duoc01);
	--ion-color-base-rgb: var(--ion-color-duoc01-rgb);
	--ion-color-contrast: var(--ion-color-duoc01-contrast);
	--ion-color-contrast-rgb: var(--ion-color-duoc01-contrast-rgb);
	--ion-color-shade: var(--ion-color-duoc01-shade);
	--ion-color-tint: var(--ion-color-duoc01-tint);
}